@media screen and (min-width:641px) and (max-width: 1200px) {

    .container {
        flex-flow: column nowrap;
        height: auto;
    }

    .post-card {
        flex-flow: row;
        margin: var(--medium-unit) 0;
    }

    .post {
        flex-basis: 50%;
        flex-direction: column-reverse;

        padding: 0 var(--big-unit) var(--big-unit) var(--big-unit);
    }

    .post-space {
        height: 18em;
    }

    .post-description {
        padding-left: calc(var(--small-unit) + 0.1em);
    }

    .post-description span:last-child {
        margin: var(--medium-unit) 0;
    }

    .comment {
        flex-basis: 50%;
        height: 26em;

        padding: var(--small-unit) 0;

        border-radius: 0 var(--radius) var(--radius) 0;
    }

    .comment-input {
        width: 100%;
        position: relative;

        padding: var(--small-unit) 0 calc(var(--medium-unit) + 0.5em) var(--small-unit);
    }

    .overflow {
        height: 100%;
    }

    .overflow::-webkit-scrollbar,
    .overflow::-webkit-scrollbar-thumb {
        border-radius: var(--radius);
    }
}


@media screen and (max-width: 640px) {

    header {
        text-align: right;
    }

    nav:first-of-type {
        display: none;
    }

    header span {
        display: inline;
        font-size: 22px;
        padding: var(--small-unit) var(--medium-unit);
    }

    .container {
        flex-flow: row wrap;
        height: auto;
    }

    .post-card {
        display: flex;
        flex-flow: column nowrap;
        flex-basis: 80%;

        margin-bottom: var(--medium-unit);
    }

    .post {
        flex-basis: 60%;
    }

    .comment {
        flex-basis: 40%;
    }

    .overflow::-webkit-scrollbar,
    .overflow::-webkit-scrollbar-thumb {
        border-radius: 0 0 var(--radius) var(--radius);
    }
}