header {
    padding: var(--medium-unit);
    text-align: center;

    color: var(--text-color);
    background-color: var(--header-bg);
}

nav:first-of-type a {
    margin: 0 var(--medium-unit);

    color: var(--text-color);
    text-decoration: none;
    font-weight: 900;
}

header span {
    display: none;
}