.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: calc(100% - 50px);

    padding: var(--big-unit);

    background-color: var(--main-bg);
}