.post-card {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 25%;

    margin: 0 var(--medium-unit) 0 var(--medium-unit);

    border-radius: var(--radius);
    background-color: var(--post-card-bg);
}

.post {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 50%;

    padding: calc(var(--medium-unit) + 0.5em);
}

.post-space {
    height: 20em;

    border-radius: var(--radius);
    background-color: var(--post-bg);
}

.post-description {
    padding: var(--medium-unit) 0 0 0;

    color: var(--text-color);
}

.post-description>* {
    display: block;
}

.post-description span:nth-child(2) {
    font-size: 12px;
    font-weight: 600;
}

.post-description span:last-child {
    margin: var(--small-unit) 0 0 0;
    
    font-size: 10px;
}

.comment {
    flex-basis: 50%;

    padding: 0 0 calc(var(--small-unit) + 0.1em) 0;

    color: var(--text-color);
    border-radius: 0 0 var(--radius) var(--radius);
    background-color: var(--post-comment-bg);
}

.comment-input {
    width: 100%;
    position: relative;

    padding: var(--small-unit) 0 var(--medium-unit) calc(var(--medium-unit) + 0.5em);
}

.comment-input input {
    width: 80%;
    position: relative;

    padding: calc(var(--small-unit) + 0.1em);

    font-weight: bold;
    text-indent: var(--small-unit);

    outline: none;
    border: 0;
    color: var(--text-color);
    border-radius: calc(var(--radius) + 11px) 0 0 calc(var(--radius) + 11px);
    background-color: #3c3c3c;
}

.comment-input button {
    width: 15%;
    position: absolute;

    padding: calc(var(--small-unit) + 0.5em) calc(var(--small-unit) + 0.1em) calc(var(--small-unit) + 0.4em) calc(var(--small-unit) + 0.1em);

    font-weight: 600;
    font-size: 10px;
    cursor: pointer;

    border: 0;
    color: var(--text-color);
    border-radius: 0 calc(var(--radius) + 11px) calc(var(--radius) + 11px) 0;
    background-color: var(--post-bg);
}

.comment-space {
    height: auto;
    display: block;
}

.icon-box {
    width: 10%;
    float: left;

    margin: var(--small-unit) 0 0 calc(var(--medium-unit) + 0.5em);
}

.icon-box .img {
    width: 2.5em;
    height: 2.5em;

    border: 0;
    border-radius: 50%;
    background-color: var(--post-bg);
}

.comment-text {
    width: 80%;
    float: right;

    padding-right: 0.6em;
    padding-bottom: 0.6em;
    margin-left: 0.4em;

    font-weight: 900;
}

.comment-text h4 {
    margin: var(--medium-unit) 0 var(--small-unit) 0;
}

.comment-text p {
    font-size: 12px;
}

hr {
    clear: both;

    border: 1px solid var(--post-bg);
    background-color: var(--post-card-bg);
}

.overflow {
    overflow-y: scroll;
    height: 14em;
}

.overflow::-webkit-scrollbar {
    width: 0.5em;

    border-radius: 0 0 var(--radius) var(--radius);
    background-color: var(--scrollbar-bg);
}

.overflow::-webkit-scrollbar-thumb {
    height: 8em;

    border-radius: 0 0 var(--radius) var(--radius);
    background-color: var(--scrollbar-thumb-bg);
}